<!DOCTYPE html>

<html>
    <head>
        <title>Welcome to CareerDevs Hotel</title>
    </head>
    <body>
        <h1>Welcome To The Profile Page of <%= person %></h1>
        <p>Age: <%= data.age %></p>
        <p>Job: <%= data.job %></p>
    </body>
</html>