<!DOCTYPE html>

<html>
    <head>
        <title>Welcome to CareerDevs Hotel</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <!-- link to AOS stylesheet and JS-->
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
        <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
        
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
        
        <script>
            $(document).ready(function(){
            
              $('form').on('submit', function(){
            
                  var item = $('form input');
                  var todo = {item: item.val()};
            
                  $.ajax({
                    type: 'POST',
                    url: '/todo',
                    data: todo,
                    success: function(data){
                      //do something with the data via front-end framework
                      location.reload();
                    }
                  });
            
                  return false;
            
              });
            
              $('li').on('click', function(){
                  var item = $(this).text().replace(/ /g, "-");
                  $.ajax({
                    type: 'DELETE',
                    url: '/todo/' + item,
                    success: function(data){
                      //do something with the data via front-end framework
                      location.reload();
                    }
                  });
              });
            
            });
        </script>
      
        <style>
                    /*   Full page background "watermark"   */
            /*body {*/
            /*    background: url(https://images.pexels.com/photos/62693/pexels-photo-62693.jpeg?auto=compress&cs=tinysrgb&h=350); */
            /*    background-size: cover;*/
            /*}*/
            #maintitle {
                text-align: center;
                color: white;
                background-color: black;
                padding-top: 20px;
                font-family: arial black;
            }
    
            #subtitle {
                text-align: center;
                color: white;
                background-color: black;
                margin-top: -15px;
                padding-bottom: 20px;
            }
            
            .navbar-text {
                color: #333435;
                font-family: Courier New;
                font-size: 19px;
                font-weight: bold;
            }
            
            .navbar-text:hover {
                color: #295989;
                font-weight: bolder;
            }
            
            .card {
                border: none;    
            }
            
            .card-title {
                font-size: 35px;
                font-weight: bolder;
                font-family: bookman;
                color: #1C1349;
            }
            
            .card-text {
                font-size: 16px;
                font-family: Courier;
            }
            
            .room-choice-title {
                font-family: verdana;
                font-weight: bolder;
                font-size: 45px;
                color: #1C1349;
                padding-left: 100px;
                width: 700px;
            }
        
            #avail-room-list {
                padding-left:200px;
                width: 200px;
            }
            
            #avail-room_list form:after{
                margin: 0;
                content: '';
                display: block;
                clear: both;
            }
            
            li {
                font-size:45px;   
                list-style: none;
            }
            
            li:hover {
                cursor: pointer;
                font-weight: bolder;
                font-size: 65px;
                color: #5475A0;
            }
            
            .item {
                width: 200px;
                height: 200px;
                margin: 50px auto;
                padding-top: 75px;
                background: #ccc;
                text-align: center;
                color: #FFF;
                font-size: 3em;
                }
        
            /*.hiddenimg {*/
            /*    display: none;*/
            /*}*/
            
            /*.hiddentxt {*/
            /*    font-weight: bold;*/
            /*    color: #F00;*/
            /*}*/
            
            /*.hiddentxt a {*/
            /*    color: #F00;*/
            /*    text-decoration: none;*/
            /*}*/
            
            /*.hiddenclick {*/
            /*    font-weight: bold;*/
            /*    color: #F00;*/
            /*    text-decoration: none;*/
            /*    cursor: pointer;*/
            /*}*/
            
            /*.hiddenclick a {*/
            /*    color: #F00;*/
            /*    text-decoration: none;*/
            /*}*/
            
            /*.hiddenclick a:visited {*/
            /*    color: #F00;*/
            /*    text-decoration: none;*/
            /*}*/
            
            /*.hiddentxt:hover ~ .hiddenimg {*/
            /*    display: block;*/
            /*}*/
            
        </style>
    </head>
    
    <body>
                <!--TOP TITLE AND NAVBAR SECTION-->
    <h1 id="maintitle">Welcome to the Code Rhode Hotel</h1>
    <h4 id="subtitle">The most "functional" hotel on the Silicon Rhode</h4>
    
    <nav class="nav justify-content-center">
        <a class="nav-item nav-link" href="#"><span class="navbar-text">AMENITIES</span></a>
        <a class="nav-item nav-link" href="#"><span class="navbar-text">ROOMS</span></a>
        <a class="nav-item nav-link" href="#"><span class="navbar-text">MEETINGS</span></a>
        <a class="nav-item nav-link" href="#"><span class="navbar-text">WEDDINGS</span></a>
        <a class="nav-item nav-link" href="#"><span class="navbar-text">PHOTOS</span></a>
        <a class="nav-item nav-link" href="#"><span class="navbar-text">CONTACT</span></a>
    </nav>

                        <!--LARGE MAIN HERO IMAGE-->
    <section class="home-hero" style="background-image: url(https://images.pexels.com/photos/791810/pexels-photo-791810.jpeg?auto=compress&cs=tinysrgb&h=350); height: 390px; background-size: cover; background-position-y: center">
    </section>
    </br>
    <div class="card-deck">
      <div class="card">
        <img class="card-img-top" src="https://images.pexels.com/photos/271616/pexels-photo-271616.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">King</h5>
          <p class="card-text">Designed to inspire rest and relaxation, our sleek, modern guest rooms create a feeling of home with peaceful color tones and city chic décor. Each room features a king-sized bed, "smart room technology" and full-size bathroom with granite counter tops and marble floors.</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1515362778563-6a8d0e44bc0b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Suite</h5>
          <p class="card-text">Located in the Lodge's International Wing, suites have either a king or two queen-sized beds and views of The Cucina courtyard. Each features an oversized bathroom with a double vanity and marble floors.</p>
        </div>
      </div>
      <div class="card">
        <img class="card-img-top" src="https://images.unsplash.com/photo-1522708323590-d24dbb6b0267?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">Studio</h5>
          <p class="card-text">Luxury One Bedroom Studios feature a bedroom with king-sized bed, an oversized bathroom with double vanity and marble floors; and a separate sitting area with gas fireplace, and a wet bar. Each studio also offers spectacular views of the city.</p>
        </div>
      </div>
    </div>
    
                        <!--IMAGE DISPLAYED ON HOVER-->
        <!--<div>-->
        <!-- <p>-->
        <!--    Hover to see a Queen Room<span class="hiddentxt"><a href="https://images.pexels.com/photos/271616/pexels-photo-271616.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500">banana</a></span><span class="hiddenimg"><img src="https://images.pexels.com/photos/271616/pexels-photo-271616.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" width="250" /></span>.-->
        <!--  </p>-->
        <!--  <p style="float:right">-->
        <!--    It <span class="hiddentxt"><a href="http://www.renders-graphiques.fr/image/upload/normal/element_glace_creme_14.png">disjoins</a></span><span class="hiddenimg"><img src="http://www.renders-graphiques.fr/image/upload/normal/element_glace_creme_14.png" width="250" /></span>    the sentence when the image and text are next to each other in HTML.-->
        <!--  </p>-->
        <!--  <p>To fix this, position the image at the end if the <span class="hiddentxt"><a href = "http://www.renders-graphiques.fr/image/upload/normal/element_glace_creme_14.png">element</a></span>, and use the ~ selector in the CSS.<span class="hiddenimg"><img src="http://www.renders-graphiques.fr/image/upload/normal/element_glace_creme_14.png" width="250" /></span>-->
        <!--  </p>-->
        <!--  <p>-->
        <!--    Let's see if it works with <span class="hiddentxt" onmouseover="vidPlay()" onmouseout="vidPause()"><a href="https://mtc.cdn.vine.co/r/videos/ECBC329ACC1050514912117440512_1c6599f182f.4.6.16444000809832514200.mp4">videos</a></span>.-->
        <!--    <span class="hiddenimg"><video id="video1" loop>-->
        <!--      <source src="https://mtc.cdn.vine.co/r/videos/ECBC329ACC1050514912117440512_1c6599f182f.4.6.16444000809832514200.mp4" type="video/mp4">-->
        <!--      </video></span>-->
        <!--  </P>-->
        <!--</div>-->
    
    
                        <!--LIST OF AVAILABLE ROOMS FOR USER TO CHOOSE FROM-->
    <h4 class="room-choice-title">CHOOSE FROM ONE OF OUR AVAILABLE TECH SAVVY ROOMS. </h4>
        <div id="avail-room-list">
            <!--<form>-->
            <!--    <input type="text" name="item" placeholder="Add new item..." required />-->
            <!--    <button type="submit">Reserve Room</button>-->
            <!--</form>-->
                        <!--Populates list of available rooms from database-->
            <ul>
                <% for (var i=0; i<todos.length; i++) { %>
                    <li><%= todos[i].item %></li>
                <% } %>
            </ul>
        </div>
        </br>
        </br>
        </br>
        </br>
        </br>
        </br>
        
        <script>
            AOS.init({
                duration: 1200,
            })
        </script>
        <div class="item" data-aos="fade-up">1</div>
        <div class="item" data-aos="fade-down">2</div>
        <div class="item" data-aos="fade-right">3</div>
        <div class="item" data-aos="fade-left">4</div>
        
    </body>
</html>